/* Clean up constraints */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
  text-align: left;
}

@media (max-width: 600px) {
  .order-book {
    display: none;
  }
}